<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    <img class="img_logo" src="../../assets/nike.png" alt="Logo Nike">
    <img class="img_tenisV" src="../../assets/image-removebg-preview (3) 1.png" alt="Tênis">
    <h1 class="title">SUMMER <br> COLLECTIONS</h1>
    <h1 class="sub">2022</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suscipit suscipit massa justo consequat accumsan.</p>
    <div class="action-buttons">
      <ion-button [routerLink]="['/inicio']" class="btn-primary">GET STARTED </ion-button>
    </div>
  </div>
</ion-content>
