<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-grid>
      <ion-row>
     <ion-col><img class="img_logo" src="../../assets/menu (1) 1.png" alt="menu"></ion-col>
     <ion-col><img class="img_logo" src="../../assets/nikeverde.png" alt="Logo Nike"></ion-col>
     <ion-col><img class="img_logo" src="../../assets/usuario.png" alt="usuario"></ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="gridF"><img class="img_tenisA" src="../../assets/image-removebg-preview (3) 2.png" alt="Tênis1"></ion-col>
        <ion-col class="gridF"><img class="img_tenisA" src="../../assets/image 1.png" alt="Tênis2"></ion-col>
        <ion-col class="gridF"><img class="img_tenisA" src="../../assets/image-removebg-preview 1.png" alt="Tênis3"></ion-col>
      </ion-row>
    </ion-grid>
    <img class="img_tenisE" src="../../assets/image-removebg-preview (3) 2-1.png" alt="Tênis4">
    <h1 class="title">Kyrie Infinity</h1>
    <h2 class="sub">Calçados para basquete</h2>
    <p class="description">ALorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suscipit suscipit massa justo consequat accumsan.</p>
    <h2>Preço</h2>
    <h1>$799</h1>
  </div>
</ion-content>